body{
    font-family: Comic Sans MS, Candara, Arial, Candara, Arial;
}

nav{                            /* defines the navigation bar style */
    background: #D3CCA5;
    color: black;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

nav ul li{                      /* style of the elements/directories from the nav bar */
    display:inline;
    text-align: center;
    padding-right : 0.5em;
    padding-left : 0.5em;
}

footer{                         /* defines the style of the footer */
    background: #795A2D;
    color: #B0C400;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

h2{                             /* all the <h2>text</h2> will be centered */
    text-align: center;
}

a:link{                         /* links will be brownish */
    color: #795A2D;
}
a:visited{                      /* they'll stay brown even when you visit the link (won't turn purple as it usually does) */
    color: #795A2D;
}
a:hover {                       /* they'll turn light green if you put the mouse on top of it */
    color: #B0C400;
}

#descripcion{
    float: left;
    text-align: center;
    width: 100%;
    background: #795A2D;
    min-height: 300px;
    color: white;
}

#contacto{
    float: left;
    width: 100%;
    background: #D3CCA5;
    min-height: 100px;
    padding: 40px;
    color: black;
}

#usrimg{
    float: left;
    width: calc(20% - 100px);
    background: #795A2D;
    min-height: 300px;
    padding: 50px;
}

#usrinfo{
    float: left;
    width: calc(80% - 80px);
    background: #D5DE2E;
    min-height: 320px;
    padding: 40px;
}

#usrinfo h2{
    /*text-align: center;*/
    color: #795A2D;
    /*estilo d titulos*/
}

#infoitem{
    background: #B0C400;
    padding: 40px;
    text-align: center;
}

#form-register{
    background:#B0C400;
    color:#795A2D;
}
/*
#form-register h2{
    text-align: center;
}
*/
#form-register h4{
    padding-left: 300px;
    text-align: left;
}

#troste{
    text-align:center;
    color: #523213;
    min-height: 700px;
}

#listaItems{
    padding-left: 80px;
    border-top: 2px solid #795A2D;
    background: #D3CCA5;
    min-height: 300px;
}

#listaItems h2{
    color: #523213
}

#ShrekTeVigila{
    text-align: right;
    background: #D3CCA5;
}

#itemAdded{
    text-align: center;
}

#itemAdded h2{
    color: #523213
}

.article p{
    text-align: center;
    /*añadir color fuente y eso */
}

.clearfix{
    clear: both;
}

.buttons{                       /* buttons are light brown with rounded borders */
    background: #C3BC95;
    border-radius: 28px;
}

.buttons:hover {                /* when touched by the mouse, they'll turn dark brown */
    background: #795A2D;
}