body {
    margin: 0;
    height: 100vh;
    cursor: none;                                       /*the actual cursor won't be visible*/
    background: white;
}

.cursor {							                    /*thin circle*/
    width: 20px;
    height: 20px;
    border: 1px solid #523513;
    border-radius: 50%;
    position: absolute;
    transition-timing-function: ease-out;
    animation: ThinCricleMotion .5s infinite alternate;	/*it will be animated, switching between 2 states (defined in ThinCircleMotion) infinitely*/
    pointer-events: none;
}

.cursor::after {					                    /*thick thircle*/
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid #B0C400;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: ThickCircleMotion .5s infinite alternate;   /*it'll also alternate between two states*/
}

@keyframes ThinCircleMotion {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes ThickCircleMotion {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes click {                  /* it'll disappear for a sec when you click */
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: click .5s forwards;
    border: 0.01em solid #523213;
}
