*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background:#795a2d;;
    font-family: Comic Sans MS, Candara, Arial;
}

.form-register{
    width: 400px;
    background: #B0C400;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border:1px solid black;
    border-radius: 15px;
    color: #795A2D;
}

.form-register h4{
    font-size: 20px;
    margin-bottom: 20px;
    background: #B0C400;
    color:#795A2D;

}

.controls{

    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 16px;
    border: 1px solid #523213;
    font-size: 18px;
}

.form-register .buttons{
    width:100px;
    padding: 9px;
    margin-left: 100px;
    color: #B0C400;
    background: #795A2D;
    border-radius: 15px;

}

.buttons a{
    background: #795A2D;
    color: #B0C400;
}

/*
.form-register a{
    background: #1423D5;
    color: white;
}*/
