                                                    /* Applied everywhere */
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Comic Sans MS, Candara, Arial, serif;
    background-image: url("http://localhost:8080/img/ShrekSwamp.png");
}
                                                    /* sidebar */
#sidebar {
    position: fixed;
    width: 200px;
    height: 406px;
    background: #D3CCA5;
    left: -200px;
    transition: all 350ms linear;
    border-bottom: 1px solid #795A2D;
}
#sidebar.active {
    left: 0;
}
#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-top: 1px solid #795A2D;
    text-align: center;
}
#sidebar ul li:hover{
    background: #523213;
    color: #B0C400;
}
.logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
#sidebar .toggle-btn span:hover{
    color: #B0C400;
}
#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #D3CCA5;
    color: #795A2D;
}
                                                    /* footer */
footer{
    background: #795A2D;
    color: #B0C400;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
                                                    /* headers */
h2{
    text-align: center;
    padding: 40px;
    color: #523213;
}
                                                    /* links */
a:visited{
    color: #523213;
}
a:link{
    color: #795A2D;
}
a:hover {
    color: #B0C400;
}
                                                    /* StartPage */
#description{
    text-align: center;
    width: 100%;
    background: #795A2D;
    min-height: 300px;
}
#description img{
    padding: 0;
}
#contact{
    background: #D3CCA5;
    min-height: 70px;
    padding: 40px;
    color:#795A2D;
    text-align: center;
}
                                                    /* UsrPage */
#usrimg{
    float: left;
    width: calc(20% - 100px);
    background: #795A2D;
    min-height: 300px;
    padding: 50px;
}
#usrinfo{
    float: left;
    width: calc(80% - 80px);
    background: #D5DE2E;
    min-height: 320px;
    padding: 40px;
}
#infoitem{
    background: #B0C400;
    padding: 40px;
    text-align: center;
    border-top: 2px solid #795A2D
}

                                                    /* ItemsList */
#itemList{
    padding-left: 80px;
    border-top: 2px solid #795A2D;
    background: #D3CCA5;
    height: calc(100vh - 200px);
    text-align: center;
}
#ShrekIsWatching{
    text-align: right;
    background: #D3CCA5;
    vertical-align: bottom;
    border-bottom: #795A2D;
}
                                                     /* Cart */
#cart{
    padding-left: 80px;
    border-top: 2px solid #795A2D;
    background: #D3CCA5;
    height: calc(85vh + 1px);
    text-align: center;
}
                                                    /* ItemAdded */
#itemAdded{
    text-align: center;
    background:#D3CCA5;
    border-top: #795A2D;
    min-height: calc(85vh + 1px);
}
                                                    /* error/notification (ItemDeleted ItemAdded CartAlreadyContains CartAdded Error) */
.msg{
    text-align:center;
    color: #523213;
    background: #D3CCA5;
    height: 100vh;
}
                                                    /* forms (LohIn NewItem CreateAccount) */
.form-register {
    background: #B0C400;
    color: #795A2D;
}
.form-register h4{
    padding-left: 300px;
    text-align: left;
}
input::placeholder {
    font-family: "Comic Sans MS", serif;
}
                                                    /* all buttons */
.buttons{
    background: #C3BC95;
    border-radius: 28px;
    width: 60px;
    height: 30px;
}
.buttons:hover {
    background: #795A2D;
}
                                                    /* all headers */
.header{
    background: #D3CCA5;
    height: 85px;
}
                                                    /* used to separate sections */
.clearfix{
    clear: both;
}

                                                    /* estilos del cursor *//*

body {
    margin: 0;
    height: 100vh;
    cursor: none;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid #523513;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: ThinCricleMotion .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid #B0C400;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: ThickCircleMotion .5s infinite alternate;
}

@keyframes ThinCircleMotion {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes ThickCircleMotion {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: click .5s forwards;
    border: 0.01em solid #523213;
}
*/