                                                    /* Applied everywhere */
* {
    margin: 0;
    padding: 0;
    cursor: none;
}
body{
    font-family: Comic Sans MS, Candara, Arial, serif;
    background-image: url("http://localhost:8080/img/ShrekSwamp.png");
}
                                                    /* sidebar */
/*
#side-bar{
    weight: 80%;
}

#homebutton{
    weight: 20%;
    text-align: right;
}

#homebutton:hover {
    color: #B0C400;
}

#homebutton i{
    position: absolute;
    padding-top: 10px;
    right: 50px;
    top: 20px;
    cursor: pointer;
    color: #795A2D;
}
*/

#sidebar {
    position: fixed;
    width: 200px;
    height: 460px;
    background: #D3CCA5;
    left: -200px;
    transition: all 350ms linear;
    border-bottom: 1px solid #795A2D;
}
#sidebar.active {
    left: 0;
}
#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-top: 1px solid #795A2D;
    text-align: center;
}
#sidebar ul li:hover{
    background: #9e8b61;
    color: #B0C400;
}
.logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
#sidebar .toggle-btn span:hover{
    color: #B0C400;
}
#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #D3CCA5;
    color: #795A2D;
}
                                                    /* footer */
footer{
    background: #795A2D;
    color: #B0C400;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
                                                    /* headers */
h2{
    text-align: center;
    padding: 40px;
    color: #523213;
}
                                                    /* links */
a:visited{
    color: #523213;
}
a:link{
    color: #795A2D;
}
a:hover {
    color: #B0C400;

}
                                                    /* StartPage */
#description{
    text-align: center;
    width: 100%;
    background: #795A2D;
    min-height: 300px;
}
#description img{
    padding: 0;
}
#contact{
    background: #D3CCA5;
    min-height: 70px;
    padding: 40px;
    color:#795A2D;
    text-align: center;
}
                                                    /* UsrPage */
#usrimg{
    float: left;
    width: calc(20% - 100px);
    background: #795A2D;
    min-height: 300px;
    padding: 50px;
}
#usrinfo{
    float: left;
    width: calc(80% - 80px);
    background: #D5DE2E;
    min-height: 320px;
    padding: 40px;
}
#infoitem{
    background: #B0C400;
    padding: 40px;
    text-align: center;
    border-top: 2px solid #795A2D
}

                                                    /* ItemsList */
#itemList{
    padding-left: 80px;
    border-top: 2px solid #795A2D;
    background: #D3CCA5;
    height: calc(100vh - 200px);
    text-align: center;
}
#ShrekIsWatching{
    text-align: right;
    background: #D3CCA5;
    vertical-align: bottom;
    border-bottom: #795A2D;
}

                                                     /* Cart */
#cart{
    padding-left: 80px;
    border-top: 2px solid #795A2D;
    background: #D3CCA5;
    height: calc(85vh + 1px);
    text-align: center;
}
                                                    /* ItemAdded */
#itemAdded{
    text-align: center;
    background:#D3CCA5;
    border-top: #795A2D;
    min-height: calc(85vh + 1px);
}
                                                    /* error/notification (ItemDeleted ItemAdded CartAlreadyContains CartAdded Error) */
.msg{
    text-align:center;
    color: #523213;
    background: #D3CCA5;
    height: 100vh;
}
                                                    /* forms (LohIn NewItem CreateAccount) */
.form-register {
    background: #B0C400;
    color: #795A2D;
}
.form-register h4{
    padding-left: 300px;
    text-align: left;
}
input::placeholder {
    font-family: "Comic Sans MS", serif;
}

.register-form{
    background: #B0C400;
    color: #795A2D;
}

.form-register h4{
    padding-left: 300px;
    text-align: left;
}
/**/
.register-form{
    background: #795A2D;
    color: #795A2D;
}

.register-form h4 {
    padding-left: 300px;
    text-align: left;
}

.register-form p{
    text-align: center;
}

.controls{
    background: #bdc291;
    padding: 10px;
    border-radius: 11px;
    margin-bottom: 12px;
    border: 1px solid #B0C400;
    font-size: 12px;
    width: 400px;
}
/**/
                                                    /* all buttons */
.buttons{
    background: #C3BC95;
    border-radius: 28px;
    width: 60px;
    height: 30px;
}
.buttons:hover {
    background: #795A2D;
}
                                                    /* all headers */
.header{
    background: #D3CCA5;
    height: 85px;
}
                                                    /* used to separate sections */
.clearfix{
    clear: both;
}

