                                            /* Applied everywhere */
* {
    margin: 0;
    padding: 0;
    cursor: none;
}
body{
    font-family: Comic Sans MS, Candara, Arial, serif;
    background-image: url("http://localhost:8080/img/ShrekSwamp.png");
}
                                                /* sidebar */
#sidebar {
    position: fixed;
    width: 200px;
    height: 460px;
    background: #D3CCA5;
    left: -200px;
    transition: all 350ms linear;
    border-bottom: 1px solid #795A2D;
}
#sidebar.active {
    left: 0;
}
#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-top: 1px solid #795A2D;
    text-align: center;
}
#sidebar ul li:hover{
    background: #9e8b61;
    color: #B0C400;
}
.logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
#sidebar .toggle-btn span:hover{
    color: #B0C400;
}
#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #D3CCA5;
    color: #795A2D;
}
                                                    /* footer */
footer{
    background: #795A2D;
    color: #B0C400;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
                                                    /* headers */
h2{
    text-align: center;
    padding: 40px;
    color: #523213;
}

h2.hover{
    color: #B0C400;
}

                                                    /* all headers */
.header{
    background: #D3CCA5;
    height: 85px;
    border-bottom-color:#795a2d;
}
                                                /* used to separate sections */
.clearfix{
    clear: both;
}

                                                        /* links */
a:visited{
    color: #523213;
}
a:link{
    color: #795A2D;
}
a:hover {
    color: #B0C400;

}