<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuario creado</title>
    <link rel="stylesheet" href="/res/cursor.css"/>
    <link rel="stylesheet" href="/res/main.css"/>
    <link rel="icon" type="image/png" href="/img/ouuushrek.png">
</head>

<body>
    <section class="header">                                <!-- side nav bar -->
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <ul>
                <img src="/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
                <li><a href="/">MainPage</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/usr">MyUser</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/cart"> Carrito </a></li>
                <li><a href="/comments"> Comentarios </a></li>
                <li><a href="/coupons">Cupones</a></li>
            </ul>
        </div>
    </section>

    <section class="msg">
        <br/><br/><br/>
        <p>Su cuenta ha sido creada</p>              <!--msg-->
        <img width="300px" alt="happy shrek" src="/img/yayy.png"><br/><br/>    <!--happy shrek img cause you added an item-->
        <p><a href="/">Volver a la página principal</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/login">Ir a la página de login</a></p>             <!--will lead you back to the main page-->

    </section>

<div class="clearfix"></div>

    <footer>
        StinkyWear &copy; 2022
    </footer>

    <div class="cursor"></div>
    <script src="/res/cursor.js"></script>
    <script src="/res/lateralBar.js"></script>
</body>
</html>