<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>
<nav>
    <!-- <img alt="logo" height="60px" src=""/> -->
    <ul>
        <li><a href="/"> MainPage </a></li>
        <li><a href="/items"> Items </a></li>
        <li><a href="/usr"> MyUser </a></li>
        <li><a href="/login"> LogIn </a></li>
        <li><a href="/carrito"> Carrito </a></li>
    </ul>
</nav>
<h1>Tienes en tu carro:</h1>
    {{#carrito}}
        <p><a href="/item/{{-index}}">{{nombre}} {{precio}}</a> </p>
    {{/carrito}}

</body>
</html>