<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item ya añadido</title>
    <link rel="stylesheet" href="../static/alternate.css"/>
    <link rel="icon" type="image/png" href="img/ouuushrek.png">
</head>
<body>
<section id="troste">
    <br/><br/><br/><br/>
    <p>El objeto ya habia sido añadido al carrito </p>             <!-- mgs -->
    <img width="400" src="img/shrek.png" alt="shrek"/><br/>
    <p><a href="/">Volver a la página principal</a><a href="/items">Volver a la lista de items</a></p>
</section>
</body>

</html>