<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="http://localhost:8080/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
    <section class="header">                                            <!-- side nav bar -->
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <ul>
                <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
                <li><a href="/">MainPage</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/usr">MyUser</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/cart"> Carrito </a></li>
            </ul>
        </div>
    </section>

    <section id="cart"><center>     <!-- it'll list the items added to your cart -->
        <h2>Tienes en tu carro:</h2>
        {{#cart}}
        <p><a href="/item/{{-index}}">{{name}} ({{price}}€)</a>&nbsp;&nbsp;&nbsp;&nbsp;<button class="buttons" type="submit"><a href="/item/del/{{id}}">Eliminar</a></button>  </p> <!-- the button will delete the item form the cart -->
        {{/cart}}
    </center>
    </section>

<div class="clearfix"></div>

    <footer>
        StinkyWear &copy; 2022
    </footer>

<script src="lateralBar.js"></script>
</body>
</html>