<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item ya añadido</title>
    <link rel="stylesheet" href="http://localhost:8080/main.css">
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>
<body><center><br><br><br>
    <p>El objeto ya habia sido añadido al carrito</p>
    <br>
    <a href="/">Volver a la página principal</a>
    <br>
    <a href="/items">Volver a la lista de items</a>
    <script src="lateralBar.js"></script>
</center>
</body>
</html>