<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="http://localhost:8080/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>
<body>
    <section class="header">
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <!-- nav bar -->
            <ul>
                <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
                <li><a href="/">MainPage</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/usr">MyUser</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/cart"> Carrito </a></li>
                <li><a href="/comments"> Comentarios </a></li>
            </ul>
        </div>
    </section>
    <section id="cart"><center>     <!-- it'll list the items added to your cart -->
        <h2>Tienes en tu carro:</h2>
        {{#cart}}
        <p><a href="/item/{{productID}}">{{productName}} ({{productPrice}}€)</a>&nbsp;&nbsp;&nbsp;&nbsp;<button class="buttons" type="submit"><a href="/cart/del/{{-index}}">Eliminar</a></button>  </p>
        {{/cart}}
        <br/></br>
        <button class="buttons"><a href="/payments">Pagar</a></button>
    </center>
    </section>
<div class="clearfix"></div>
    <footer>
        StinkyWear &copy; 2022
    </footer>

    <div class="cursor"></div>
    <script src="http://localhost:8080/cursor.js"></script>
    <script src="lateralBar.js"></script>
</body>
</html>