<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item añadido</title>
    <link rel="stylesheet" href="http://localhost:8080/main.css">
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>
<body><center>
    <section class="header">
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <!-- nav bar -->
            <ul>
                <li><img src="img/ouuushrek.png" alt="Logo Fazt" class="logo"> </li>
                <li><a href="/">MainPage</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/usr">MyUser</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/cart"> Carrito </a></li>
            </ul>
        </div>
    </section>
<h1>Su item se ha añadido a su carrito</h1>
<br>
<a href="/">Volver a la pagina principal</a><br>
<a href="/items">Volver a la lista de items</a>
    <script src="lateralBar.js"></script>

</center></body>
</html>