<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vamoooos</title>
    <link rel="stylesheet" href="http://localhost:8080/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>
<body><center>
<section class="msg">
    <br/><br/>
    <h2>El item ya había sido añadido al carrito</h2>           <!-- error mgs -->
    <a href="/items"><img width="240" src="http://localhost:8080/img/img.png" alt="shrek" /></a><br/><br/><br/>    <!-- the img will take you back to the main page -->
    <p>Haz click en Shrek para volver a la lista de items</p>
</section>
<script src="lateralBar.js"></script>

</center>
</body>

</html>