<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{#item}}{{nombre}}{{/item}}</title>
    <link rel="stylesheet" href="http://localhost:8080/alternate.css">

</head>
<body><center>
<div>
    <ul class="prueba">
        <li><a href="/">MainPage</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/usr">MyUser</a></li>
        <li><a href="/login">{{login}}</a></li>
        <li><a href="/cart"> Carrito </a></li>
    </ul>
</div>
<h1>Su item se ha añadido a su carrito</h1>
<br>
<a href="/">Volver a la pagina principal</a>
</center></body>
</html>