<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vamoooos</title>
    <link rel="stylesheet" href="http://localhost:8080/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
<section class="msg">
    <br/><br/><br/><br/>
    <p>El item ha sido añadido al carrito</p>           <!-- mgs -->
    <a href="/"><img width="400" src="http://localhost:8080/img/QueMajoShrek.png" alt="proud shrek" /></a><br/><br/>    <!-- the img will take you back to the main page -->
    <p>Haz click en Shrek para volver a la página principal</p>
</section>

    <div class="cursor"></div>
    <script src="http://localhost:8080/cursor.js"></script>
    <script src="lateralBar.js"></script>
</body>
</html>