<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vamoooos</title>
    <link rel="stylesheet" href="/res/cursor.css"/>
    <link rel="stylesheet" href="/res/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
<section class="msg">
    <br/><br/><br/><br/>
    <p>El comentario ha sido enviado correctamente :)</p>           <!-- mgs -->
    <a href="/"><img width="400" src="/img/uwuuwushrek.png"/></a><br/><br/>    <!-- the img will take you back to the main page -->
    <p>Haz click en Shrek para volver a la página principal</p>
    <p>Haz click <a href="/comments">AQUÍ</a> para ver los comentarios </p>
</section>

<div class="cursor"></div>
<script src="/res/cursor.js"></script>
<script src="/res/lateralBar.js"></script>
</body>
</html>