<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="/res/cursor.css"/>
    <link rel="stylesheet" href="/res/main.css"/>
    <link rel="icon" type="image/png" href="/img/ouuushrek.png"/>
    <audio src="/img/todountemazo3.mp3" autoplay loop></audio>
</head>
<body>
<section class="header">
    <div id="sidebar">                          <!-- side nav bar -->
        <div class="toggle-btn">
            <span>&#9776</span>
        </div>
        <ul>
            <img src="/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
            <li><a href="/">MainPage</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/usr">MyUser</a></li>
            {{#not}}<li><a href="/login">Login</a></li>{{/not}}
            {{#user}}<li><a href="/logout">Logout</a> </li>{{/user}}
            <li><a href="/cart"> Carrito </a></li>
            <li><a href="/comments"> Comentarios </a></li>
            <li><a href="/coupons">Cupones</a></li>
        </ul>
    </div>
</section>

<div class="clearfix"></div>
<section id="itemList">
    <h2> Comentarios: </h2>
    <br/>
    {{#comment}}
      <h4> Usuario: {{user}} </h4> <p> {{{content}}}</p><br/><br/>
    {{/comment}}
    {{#user}}<p>Haga click <a href="/NewComment">AQUÍ</a> para añadir un nuevo comentario </p>{{/user}}
</section>
<div class="clearfix"></div>

<section id="ShrekIsWatching">
    <img width="200px" src="img/ShrekTeVigila.png">        <!--just Shrek watching you browse items-->
</section>

    <footer>
        StinkyWear &copy; 2022
    </footer>
<div class="cursor"></div>
<script src="/res/cursor.js"></script>
<script src="/res/lateralBar.js"></script>
</body>
</html>