<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de cupones</title>
    <link rel="stylesheet" href="http://localhost:8080/res/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/res/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
<section class="header">
    <div id="sidebar">                          <!-- side nav bar -->
        <div class="toggle-btn">
            <span>&#9776</span>
        </div>
        <ul>
            <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
            <li><a href="/">MainPage</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/usr">MyUser</a></li>
            {{#not}}<li><a href="/login">Login</a></li>{{/not}}
            {{#user}}<li><a href="/logout">Logout</a> </li>{{/user}}
            <li><a href="/cart"> Carrito </a></li>
            <li><a href="/comments"> Comentarios </a></li>
        </ul>
    </div>
</section>

<div class="clearfix"></div>

<section id="itemList">           <!-- will print out all the available items -->
    <h2>Los cupones disponibles son:</h2>
    {{#coupons}}
        <p>Código del cupón: {{cuponID}}<br>Descuento aplicado: {{descuento}}%</p><br><br>
    {{/coupons}}
    <br/>
    {{#admin}}<p>Pulse <a href="/coupon_form">AQUI</a> para añadir otro cupón</p>{{/admin}}
</section>

<div class="clearfix"></div>

<section id="ShrekIsWatching">
    <img width="200px" src="img/ShrekTeVigila.png">        <!--just Shrek watching you browse items-->
</section>

<footer>
    StinkyWear &copy; 2022
</footer>

<div class="cursor"></div>
<script src="http://localhost:8080/res/cursor.js"></script>
<script src="res/lateralBar.js"></script>
</body>
</html>