<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="http://localhost:8080/res/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/res/login.css">
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
<div class="otros">
    <h1><a href="/">⌂</a></h1>
</div>

<div class="clearfix"></div>
<div class="login-box">
    <h2>Create Account</h2>
    <form action="/account/created" method="post">
        <div class="user-box">
            <input class="controls" type="text" name="userName" id="userName" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input class="controls" type="email" name="email" id="email" required="">
            <label>Correo</label>
        </div>
        <div class="user-box">
            <input class="controls" type="password" name="userPass" id="password" required="">
            <label>Password</label>
        </div>
        <div class="user-box">
            <input class="controls" type="text" name="address" id="direcion" required="">
            <label>Direccion</label>
        </div>
        <div class="user-box">
            <input class="controls" type="text" name="personalName" id="personalName" required="">
            <label>Nombre</label>
        </div>
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <a href="#">
        
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Create">
        </a>
    </form>
</div>
<!--<section class="form-register">
    <form action="http://localhost:8080/account/created" method="post">
    <h2>Rellene los campos para crear su cuenta</h2>
    <h4> User name:<br/>
        <input class="controls" type="text" name="userName" id="user" placeholder="-"></h4>
    <h4>Correo:<br/>
        <input class="controls" type="email" name="email" id="email" placeholder="-"></h4>
    <h4>Contraseña:<br/>
        <input class="controls" type="password" name="userPass" id="password" placeholder="****"></h4>
    <h4>Dirección:<br/>
        <input class="controls" type="text" name="address" id="direccion" placeholder="-"></h4>
    <br/>
        <h2><button class="buttons" type="submit">Enviar</button></h2>
    </form>
</section>-->

<div class="clearfix"></div>
<div class="cursor"></div>
<script src="http://localhost:8080/res/cursor.js"></script>
<script src="http://localhost:8080/res/lateralBar.js"></script>
</body>
</html>