<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="http://localhost:8080/loginstyle.css">
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>
<body>
    <section class="header">
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <!-- nav bar -->
            <ul>
                <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
                <li><a href="/">MainPage</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/usr">MyUser</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/cart"> Carrito </a></li>
            </ul>

        </div>
    </section>
<div class="clearfix"></div>

    <section id="form-register">        <!-- registration form -->
        <h2>Rellene los campos para crear su cuenta</h2>
        <h4> User name:<br/>
            <input class="controls" type="text" name="nombre" id="user" placeholder="-"></h4>
        <h4> Correo:<br/>
            <input class="controls" type="email" name="email" id="email" placeholder="-"></h4>
        <h4> Contraseña:<br/>
            <input class="controls" type="password" name="password" id="password" placeholder="********"></h4>
        <h4> Dirección:<br/>
            <input class="controls" type="text" name="direccion" id="direccion" placeholder="-"></h4>
        <br/>
        <h2><button class="buttons" type="submit"><a href="/usr">Crear</a></button></h2>
    </section>
<div class="clearfix"></div>
    <footer>
        StinkyWear &copy; 2022
    </footer>
    <script src="http://localhost:8080/lateralBar.js"></script>
</body>
</html>