<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
</head>
<body>
    <p>Create un usuario</p>

    <form>
        <label for="inputUser">Usuario:</label>
        <input type="text" id="inputUser" placeholder="usuario">
        <br>
        <label for="inputPassword">Contraseña:</label>
        <input type="password" id="inputPassword" placeholder="password">
        <br>
        <label for="inputEmail">Correo:</label>
        <input type="text" id="inputEmail" placeholder="email">
        <br>
        <label for="inputDireccion">Introduce una direccion valida:</label>
        <input type="text" id="inputDireccion" placeholder="direccion">
        <br>
        <button type="submit"><a href="/usr">Sign in</a></button>

    </form>
</body>
</html>