<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mecachis!</title>
    <link rel="stylesheet" href="http://localhost:8080/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>
<body>
<section id="troste">
    <br/><br/><br/><br/>
    <p>Shrek no pudo encontrar la página :( <p>             <!-- error mgs -->
    <a href="/"><img width="400" src="http://localhost:8080/img/img_1.png" alt="sad shrek" /></a><br/>    <!-- the img will take you back to the main page -->
    <p>Haz click en Shrek para volver a la página principal</p>
</section>
<script src="lateralBar.js"></script>

</body>

</html>