<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oh no un error</title>
    <link rel="stylesheet" href="../static/alternate.css"/>
</head>
<body>
<section id="troste">
    <br/><br/><br/><br/>
    <p>Shrek no pudo encontrar la página :( <p>             <!-- error mgs -->
    <a href="/"><img width="400" src="img/img_1.png" alt="sad shrek" /></a><br/>    <!-- the img will take you back to the main page -->
    <p>Haz click en Shrek para volver a la página principal</p>
</section>
</body>

</html>