<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{#item}}{{nombre}}{{/item}}</title>
    <link rel="stylesheet" href="../static/alternate.css"/>
</head>
<body>
    <nav>           <!-- nav bar -->
        <!-- <img alt="logo" height="60px" src=""/> -->
        <ul>
            <li><a href="/"> MainPage </a></li>
            <li><a href="/items"> Items </a></li>
            <li><a href="/usr"> MyUser </a></li>
            <li><a href="/login"> LogIn </a></li>
            <li><a href="/cart"> Cart </a></li>
        </ul>
    </nav>
    <section id="itemAdded">
        <h2>Su item ha sido añadido a nuestro listado</h2>              <!--msg-->
        <img width="200px" alt="happy shrek" src="img/img.png"><br/>    <!--happy shrek img cause you added an item-->
        <p><a href="/">Volver a la pagina principal</a></p>             <!--will lead you back to the main page-->
    </section>
<div class="clearfix"></div>
    <footer>
        StinkyWear &copy; 2022
    </footer>
</body>
</html>