<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de items</title>
    <link rel="stylesheet" href="http://localhost:8080/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
    <section class="header">                        <!-- side nav bar -->
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <ul>
                <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
                <li><a href="/">MainPage</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/usr">MyUser</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/cart"> Carrito </a></li>
                <li><a href="/comments"> Comentarios </a></li>
                <li><a href="/coupons">Cupones</a></li>
            </ul>
        </div>
    </section>

<div class="clearfix"></div>

    <section id="itemList">           <!-- will print out all the available items -->
        <h2>Los items disponibles en nuestra tienda son:</h2>
        {{#items}}
        <p><a href="/item/{{productID}}">{{productName}} [{{productPrice}}€]</a></p><br><br><button class="buttons" type="submit"><a href="/item/del/{{productID}}">Eliminar</a></button>
        {{/items}}
        <br/><br/>
        <p>Te gustaría subir tu propia ropa? Haz click <a href="NewItem.html">AQUÍ</a> para añadir un nuevo item </p>  <!-- it'll redirect you to /newItem, where you can add your own item-->
        <form action="/search" method="post">
            <h4> Buscar por nombre:<br/>
                <input type="text" name="name" placeholder="Nombre"></h4>        <!-- type its price (number) -->
            <h2><button class="buttons" type="submit">Enviar</button></h2>              <!-- click to submit the info -->
        </form>
    </section>

<div class="clearfix"></div>

    <section id="ShrekIsWatching">
        <img width="200px" src="img/ShrekTeVigila.png">        <!--just Shrek watching you browse items-->
    </section>

    <footer>
        StinkyWear &copy; 2022
    </footer>

    <div class="cursor"></div>
    <script src="http://localhost:8080/cursor.js"></script>
    <script src="lateralBar.js"></script>
</body>
</html>