<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de items</title>
    <link rel="stylesheet" href="http://localhost:8080/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>
<body>
    <section class="header">
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <!-- nav bar -->
            <ul>
                <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
                <li><a href="/">MainPage</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/usr">MyUser</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/cart"> Carrito </a></li>
            </ul>
        </div>
    </section>
<div class="clearfix"></div>

    <section id="listaItems">           <!-- will print out all the availale items -->
        <h2>Los items disponibles en nuestra tienda son:</h2>
        {{#items}}
        <p><a href="/item/{{-index}}">{{name}} [{{price}}€]</a></p>
        {{/items}}
        <br/><br/>
        <p>Te gustaría subir tu propia ropa? Haz click <a href="NewItem.html">AQUÍ</a> para añadir un nuevo item </p>  <!-- it'll redirect you to /newItem, where you can add your own item-->
    </section>
<div class="clearfix"></div>
    <section id="ShrekTeVigila">
        <img width="200px" src="img/ShrekTeVigila.png">        <!--just Shrek watching you browse items-->
    </section>
    <footer>
        StinkyWear &copy; 2022
    </footer>
<script src="lateralBar.js"></script>
</body>
</html>