<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de items</title>
    <link rel="stylesheet" href="alternate.css"/>
</head>
<body>
<nav>
    <!-- <img alt="logo" height="60px" src=""/> -->
    <ul>
        <li><a href="/"> MainPage </a></li>
        <li><a href="/items"> Items </a></li>
        <li><a href="/usr"> MyUser </a></li>
        <li><a href="/login"> LogIn </a></li>
    </ul>
</nav>
<div class="clearfix"></div>
<section id="listaItems">
    <h2>Los items disponibles en nuestra tienda son:</h2>
    {{#items}}
    <p><a href="/item/{{-index}}">{{nombre}} [{{precio}}€]</a></p>
    {{/items}}
    <br/>
    <p>Te gustaría subir tu propia ropa? Haz click <a href="NewItem.html">AQUÍ</a> para añadir un nuevo tiem </p>
</section>
<div class="clearfix"></div>
<section id="ShrekTeVigila">
    <img width="200px" src="http://assets.stickpng.com/thumbs/59f8788f3cec115efb36238d.png">
</section>
<footer>
    StinkyWear &copy; 2022
</footer>
</body>
</html>