<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <p>Inicia sesión</p>

    <form>
        <label for="inputUser">Usuario:</label>
        <br>
        <input type="text" id="inputUser" placeholder="usuario">
        <br><br>
        <label for="inputPassword">Contraseña:</label>
        <br>
        <input type="password" id="inputPassword" placeholder="password">
        <br>
        <br>
        <button type="submit"><a href="/usr">Log in</a></button>
        <br>

    </form>
    <a href="/createAccount">¿No tienes cuenta? Registrate</a>
</body>
</html>