<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="http://localhost:8080/res/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/res/login.css">
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
<div class="login-box">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="user-box">
            <input class="controls" type="text" name="username" id="username" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input class="controls" type="password" name="password" id="password" required="">
            <label>Password</label>
        </div>
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <!--Submit-->
            <input type="submit" value="Submit">
        </a>
        <!--<button class="buttons" type="submit">submit</button>-->
        <div class="reg">
            <center><a href="http://localhost:8080/CreateAccount.html">¿No tienes cuenta? Registrate</a></center>
        </div>
    </form>
    <!--<p>{{aviso}}</p>ESTO DE AQUI TENEMOS QUE PONERLO BIEN-->
</div>

<div class="clearfix"></div>

<div class="otros">
    <h1><a href="/">⌂</a></h1>
</div>
<!--<br/><br/><br/><br/><br/><br/><br/>
<section class="register-form">
<h2>Inicia sesion</h2>

<form action="/login" method="post">
<p><input class="controls" type="text" name="username" id="userName" placeholder="Introduce tu nombre de usuario"></p>
<br><p style="color:red">{{aviso}}</p><br>
<p><input class="controls" type="password" name="password" id="password" placeholder="Introduce tu contraseña"></p><br/>
<p><button class="buttons" type="submit">Sign in</button></p>
<br><p><a href="http://localhost:8080/res/CreateAccount.html">¿No tienes cuenta? Registrate</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/">Volver a la página principal</a></p>
<br/><br/>
</form>

</section>-->

<br/>
<div class="cursor"></div>
<script src="http://localhost:8080/res/cursor.js"></script>
</body>
</html>