<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="http://localhost:8080/main.css">
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
<section class="register-form">                         <!-- login form -->
    <h3>Inicia sesion</h3>
    <input class="control" type="email" name="email" id="email" placeholder="Introduce tu correo">
    <input class="control" type="password" name="password" id="password" placeholder="Introduce tu contraseña">
    <center><button class="button" type="submit"><a href="/usr">Sign in</a></button></center>
    <br>
    <center><a href="/createAccount" >¿No tienes cuenta? Registrate</a></center>               <!-- link in case you don't have an account -->
</section>
<br/>
<section class="return">
    <p><a href="/"><- Volver a la página principal</a></p>                          <!-- redirects you back to the main page -->
</section>
</body>
</html>