<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo item</title>
    <link rel="stylesheet" href="http://localhost:8080/res/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/res/main.css">
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>

<section class="header">
    <!--<section id="homebutton">
        <a href="http://localhost:8080/"><i style="font-size:24px" class="fa">&#xf015;</i></a>
    </section>-->
    <section id="side-bar">
        <div id="sidebar">              <!-- side nav bar -->
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <ul>
                <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
                <li><a href="/">MainPage</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/usr">MyUser</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/cart"> Carrito </a></li>
                <li><a href="/comments">Comentarios</a></li>
                <li><a href="/coupons">Cupones</a></li>
            </ul>
        </div>
    </section>
</section>

<div class="clearfix"></div>

<section class="form-register">
    <h2>Rellene los campos para añadir un nuevo cupón:</h2>        <!-- will collect all the info needed in order to create/add a new item -->
    <form action="http://localhost:8080/coupon/new" method="post">
                <h4> Descuento del nuevo cupón:<br/>
            <input type="number" name="descuento" min="1" max="99" placeholder="Descuento"></h4><br/>        <!-- type its price (number) -->
        <p><button class="buttons" type="submit">Crear</button></p>   
        <input type="hidden" name="_csrf" value="{{token}}"/>           <!-- click to submit the info -->
    </form><br/>
    <p>El código de cupón se genera de manera automática, para verlo diríjase a la página de cupones</p><br/>
</section>

<div class="clearfix"></div>

<footer>
    StinkyWear &copy; 2022
</footer>

<div class="cursor"></div>
<script src="http://localhost:8080/res/cursor.js"></script>
<script src="res/lateralBar.js"></script>
</body>
</html>