<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png"/>
    <script src="http://localhost:8080/editor2.js"></script>
    <script src="http://localhost:8080/editor.js"></script>
    <script src="http://localhost:8080/lateralBar.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>    <!---->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://localhost:8080/editor.css"/>
 <link rel="stylesheet" href="http://localhost:8080/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/prueba.css"/>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#txt-content').Editor();

            $('#btn-enviar').click(function(e){
                e.preventDefault();
                $('#txt-content').text($('#txt-content').Editor('getText'));
                $('#frm-text').submit();	;
            });
        });
    </script>
</head>
<body>
<section class="header">
    <div id="sidebar">
        <div class="toggle-btn">
            <h1 style="line-height:15px"><a href="/">⌂</a></h1>
            <!--<span>⌂</span>-->
        </div>
        <ul>
            <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
            <li><a href="/">MainPage</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/usr">MyUser</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/cart"> Carrito </a></li>
            <li><a href="/comments"> Comentarios </a></li>
            <li><a href="/coupons">Cupones</a></li>

        </ul>
    </div>
</section>

<section id="disclaimer" style="background-color: #D3CCA5; text-align: center">
    <p> MUCHO OJO CON LO QUE COMENTES</p>
    <p> el comentario no podrá ser eliminado y Shrek lo podrá usar en tu contra </p>
    <br/>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8" >
                <form action="http://localhost:8080/createComment" method="post" id="frm-text">
                    <div class="form-group" style="background-color:#D3CCA5">
                        <p>Username:</p><br><input type="text" name="user">
                        <textarea id="txt-content" name="content"></textarea>
                    </div>
                    <input type="submit" class="btn btn-default" id="btn-enviar" value="post comment"/>

                </form>
            </div>
        </div>-->
</section>
<div class="clearfix"></div>
<p></p>
<footer>
    StinkyWear &copy; 2022
</footer>
<div class="cursor"></div>
<script src="http://localhost:8080/cursor.js"></script>-->


</body>
</html>