<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay Form</title>
    <link rel="stylesheet" href="http://localhost:8080/res/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/res/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>
<body>
<section class="header">                        <!-- side nav bar -->
    <div id="sidebar">
        <div class="toggle-btn">
            <span>&#9776</span>
        </div>
        <ul>
            <img src="http://localhost:8080/img/ouuushrek.png" alt="Logo Fazt" class="logo"> <br/>
            <li><a href="/">MainPage</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/usr">MyUser</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/cart"> Carrito </a></li>
            <li><a href="/comments"> Comentarios </a></li>
            <li><a href="/coupons">Cupones</a></li>
        </ul>
    </div>
</section>



<section class="form-register">

    <h2>Shrek necesita tus datos:</h2>

     <p style="align-content: center">El precio total de su maravillosa e inigualable compra es de {{precio}}€</p><br/><br/>

    <form action="price/final" method="post">
        <h4> Numero de tarjeta:<br/>
            <input type="number" name="number" placeholder="Numero" minlength="16" maxlength="16" min="000000000000000000"></h4>
        <br/>
        <h4>Fecha de caducidad:<br/>
            <input type="number" name="month" placeholder="Mes" min="1" max="12"><input type="number" name="year" placeholder="Año" min="2022" max="2100"></h4>
        <br/>
        <h4> Numero de cupon: (maximo uno por compra)(si no tiene cupón introduzca un 0)<br/>
            <input type="number" name="cupon" placeholder="Cupon" min="0" value="0" required/></h4>
        <br/>
        <h2><button class="buttons" type="submit">Enviar</button></h2><!-- click to submit the info -->
        <input type="hidden" name="_csrf" value="{{token}}"/>

    </form>
</section>
<footer>
    StinkyWear &copy; 2022
</footer>
<div class="cursor"></div>
<script src="http://localhost:8080/res/cursor.js"></script>
<script src="res/lateralBar.js"></script>
</body>
</html>