                                <!-- this is the main page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Stinky Wear </title>
    <link rel="stylesheet" href="main.css"/>
    <link rel="icon" type="image/png" href="img/ouuushrek.png"/>
</head>
<body>
    <div id="sidebar">
        <div class="toggle-btn">
            <span>&#9776</span>
        </div>
                                  <!-- nav bar -->
        <ul>
            <li><img src="img/ouuushrek.png" alt="Logo Fazt" class="logo"> </li>
            <li><a href="/">MainPage</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/usr">MyUser</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/cart"> Carrito </a></li>
        </ul>

    </div>
<div class="clearfix"></div>
    <section id="descripcion">          <!--this section includes the logo and slogan-->
        <article class="cositas">
            <h2> ñamñam </h2>
            <p> ñma </p>
        </article>
    </section>
<div class="clearfix"></div>
    <section id="contacto">             <!--this section includes our contact info-->
        <p> cosas d contacto </p>
    </section>
<div class="clearfix"></div>
    <footer>
        StinkyWear &copy; 2022
    </footer>
    <script src="lateralBar.js"></script>
</body>
</html>