<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style>
        div{
            background-color : white;
            height : 60px;
        }
        ul.prueba li{
            display : inline;
            color : black;
            padding-right : 0.5em;
            padding-left : 0.5em;
        }
        p{
            color : white;
        }
        li{
            color : white;
        }
        h1{
            color : white;
        }
    </style>
</head>
<center><body bgcolor="black">
<div>
    <ul class="prueba">
        <li><a href="/">MainPage</a></li>
        <li><a href="/usr">MyUser</a></li>
        <li><a href="/login">Log in</a> </li>
        <li>Prueba2</li>
    </ul>
</div>
    <h1>Los items disponibles en nuestra tienda son:</h1>
    {{#items}}
    <p><a href="/item/{{-index}}">{{nombre}} [{{precio}}€]</a></p>
    {{/items}}
    <br>
    <a href="NewItem.html">Añadir Item</a>
</body></center>
</html>