<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yayyy</title>
    <link rel="stylesheet" href="/res/cursor.css"/>
    <link rel="stylesheet" href="/res/main.css"/>
    <link rel="icon" type="image/png" href="/img/ouuushrek.png">
</head>

<body>
<section class="msg">
    <br/><br/><br/><br/>
    <p>Su compra ha sido realizada con éxito :)</p><br/>
    <p>Shrek ahora es {{precioFinal}}€ más rico</p><br/>           <!-- mgs -->
    <img width="500" src="/img/oleole.gif" alt="dancing shrek" /><br/><br/><br/>   <!-- the img will take you back to the main page -->
    <p>Haz click <a href="/">AQUÍ</a> para volver a la página principal </p>
    <br/><br/><br/>
</section>

<div class="cursor"></div>
<script src="/res/cursor.js"></script>
<script src="/res/lateralBar.js"></script>
</body>
</html>