<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yayyy</title>
    <link rel="stylesheet" href="http://localhost:8080/cursor.css"/>
    <link rel="stylesheet" href="http://localhost:8080/main.css"/>
    <link rel="icon" type="image/png" href="http://localhost:8080/img/ouuushrek.png">
</head>

<body>
<section class="msg">
    <br/><br/><br/><br/>
    <p>Su compra ha sido realizada con éxito :)</p><br/><br/>           <!-- mgs -->
    <img width="500" src="http://localhost:8080/img/oleole.gif" alt="dancing shrek" /><br/><br/><br/>   <!-- the img will take you back to the main page -->
    <p>Haz click <a href="/cart">AQUÍ</a> para volver a la página principal </p>
</section>

<div class="cursor"></div>
<script src="http://localhost:8080/cursor.js"></script>
<script src="http://localhost:8080/lateralBar.js"></script>
</body>
</html>