<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UsrPage</title>
    <link rel="stylesheet" href="style2.css"/>
</head>
<body>
    <nav>
        <!-- <img alt="logo" height="60px" src=""/> -->
        <ul>
            <li><a href="/"> MainPage </a></li>
            <li><a href="/items"> Items </a></li>
            <li><a href="/usr"> MyUser </a></li>
            <li><a href="/login">{{login}}</a></li>
            <li><a href="/carrito"> Carrito </a></li>
        </ul>
    </nav>
<div class="clearfix"></div>
    <section id="usrimg">
        <img align="center" alt="UsrImg" width="200" src="https://e00-elmundo.uecdn.es/television/programacion-tv/img/v2/programas/50/553552.png"/>
    </section>

    <section id="usrinfo">
        <h2>Tu perfil:</h2>
        <p>Usuario: {{user.usuario}}</p>
    </section>

<div class="clearfix"></div>
    <footer>
        StinkyWear &copy; 2022
    </footer>
</body>
</html>