<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="/res/cursor.css"/>
    <link rel="stylesheet" href="/res/myprofile.css">
    <link rel="icon" type="image/png" href="/img/ouuushrek.png">
    </script>
</head>

<body>
<div class="container">
    <div id="logo">
        <h1 class="logo">hulu</h1>
        <div class="CTA">
            <h1> <form action="/logout" method="post">
                <input type="submit" value="Log Out"/>
            </form></h1>
        </div>
    </div>
    <div class="leftbox">
        <nav>
            <a id="profile" class="active" href="/">⌂</a>
        </nav>
    </div>
    <div class="rightbox">
        <div class="profile">
            <h1>Datos del usuario:</h1>
            <h2>Usuario:</h2>
            <p>{{user.userName}}</p>
            <h2>Nombre:</h2>
            <p>{{user.personalName}}</p>
            <h2>Email</h2>
            <p>{{user.email}}</p>
            <h2>Direccion:</h2>
            <p>{{user.address}}</p>
        </div>
    </div>
        <footer><img src="/img/shrek_PNG1.png" width="500px"></footer>
</body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/res/myprofile.js"></script>
    <div class="cursor"></div>
    <script src="/res/cursor.js"></script>
    <script src="/res/lateralBar.js"></script>
</html>
